Language:        Cpp
BasedOnStyle:    Google
IndentWidth:     4
ColumnLimit:     120
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
PointerAlignment: Left
DerivePointerAlignment: false
SortIncludes: false

